*{
	box-sizing: border-box;
}
header{
	background-color: #005590;
}
.header__logo img{
	size: 10%;
	height: 100px;
	width: auto;
}

.header__text{
	color: white;
}
.header__container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5px 0px;
	font-size: 20px;
}
.header__tel::before{
	font-family: 'icomoon';
	content: "\e942";
	color:white;
}
.header__email::before{
	font-family: 'icomoon';
	content: "\e901";
	color:white;
}
.header__support::before{
	font-family: 'icomoon';
	content: "\e902";
	color:white;
}
.navigation{
	margin: 10px 10px;
}
.navigation .nav-link{
	border: 2px solid transparent;
	transition: all .3s;
}
.nav-link:hover{
	border: 2px solid blue;
}
#carouselExampleIndicators{
	margin: 10px 10%;
	border: 5px solid lightblue;
	border-radius: 8px;
}

#news__search{
	padding: 0px 20%	
}
#search__button{
	background-color: blue;
}
.news{
	margin: 0px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card img{
	max-height: 150px;
}


.news__all{
	display: flex;
	justify-content: center;
}
.card{
	margin: 5px 10px;
	border-color: blue;
	
}
.administration{
	font-size: 20px;
}
.administration__img img{
	margin: 15px 0px;
	border: 5px solid lightblue;
	border-radius: 15px;
	width: 50%;
	height: auto;
}

.administration__ul{
	margin-left: 10%;
}
.about__site{
	margin: 5px 15px;
}
.about__site__icons{
	font-size: 1.7vw;
}

.icon{
	height: 100px;
	display: inline-block;
	width: 12%;
}
#vk__icon::before{
	font-family: 'icomoon';
	content: "\ea98";
	color: blue;
}
#facebook__icon::before{
	font-family: 'icomoon';
	content: "\e900";
	color: blue;
}
#instagram__icon::before{
	font-family: 'icomoon';
	content: "\ea92";
	color: pink;
}
#youtube__icon::before{
	font-family: 'icomoon';
	content: "\ea9d";
	color: red;
}

.change__color__buttons{
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.blue{
	margin-right: 10px;
}
#change__color__button{
	margin-bottom: 1px;
}
.change__color__text{
	font-size: 20px;
}
footer{
	background-color: #005590;
	padding: 10px 0px;
	margin: 10px 0px 0px 0px;
}
.footer__text{
	color: white;
}

hr{
	color:blue;
	size: 10px;
}
